body {
    margin: 0px;
    padding: 0px;
    background-color: #fedcba25;
}
header {
    margin: 0px;
    padding: .5%;
    overflow: hidden;
    background-color: #258094;
}
header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
header a.logo {
    font-size: 25px;
    font-weight: bold;
}
header a:hover {
    background-color: #114047;
    color: white;
}
header a.active {
    background-color: #062024;
    color: ffffff;  
}
.header-right {
    float: right;
}
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/*  Text    */
P, h1, h2, h3, h4, h5, h6, a {
    margin: 0px;
    padding: 1.75px;
    text-decoration: none;
}
#ls {
    background-color: #f0f0f0;
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding:1%;
    text-align: center;
}
#ls h2 {
    padding-top: 5%;
    padding-bottom: 5%;
}
#ls input {
    margin: 1.2%;
}
.input-ls {
    width: 50%;
    height: 4%;
    border-radius: 1%;
    border: solid 1px #D3D3D3;
}
#submit-input-ls {
    width: 25%;
    height: 4%;
    border-radius: 1%;
    border: solid 1px #D3D3D3;
}
#ls a {
    color: #404080;
    font-size: 15px;
}
#about {
    width: auto;
    height: auto;
    margin: 0px 2.5% 0px 2.5%;
}
#about a {
    color: #404080;
}